{
	ApplicationName = "StepBill";
	ApplicationDescription = "StepBill - XBill for GNUstep (based on MacBill)";
	ApplicationRelease = "2.2 - 22/03/2004";
	ApplicationURL = "http://www.linuks.mine.nu/stepbill/";
	Authors = ("Rob Burns <rburns@softhome.net>,\nBanlu Kemiyatorn <id@project-ile.net>,\nG\u00fcrkan Seng\u00fcn <gurkan@linuks.mine.nu>");
	Copyright = "Copyright (c) 2004 Rob Burns, G\u00fcrkan Seng\u00fcn, Banlu Kemiyatorn";
	CopyrightDescription = "This program is released under the GNU GPL";
	NSIcon = "icon.tiff";
}
